In [1]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 9609-0806

 C:\toy_projects\GDP_mini\file 디렉터리

2021-03-29  오후 03:46    <DIR>          .
2021-03-29  오후 03:46    <DIR>          ..
2021-03-29  오후 03:44    <DIR>          .ipynb_checkpoints
2021-03-26  오전 12:00             4,745 crwaling.py
2021-03-24  오후 11:04               917 csv_to_Mongo.py
2021-03-24  오전 12:44             1,357 csv_to_Mongo_gdp.py
2021-03-25  오후 11:59             2,269 csv_to_Mongo_pop.py
2021-03-24  오전 12:44             2,129 csv_to_oracle.py
2021-03-24  오전 12:44             3,551 csv_to_oracle_pop.py
2021-03-25  오후 11:39             6,697 error.py
2021-03-24  오전 12:44           249,996 GDP.csv
2021-03-29  오후 03:46           126,178 gdp.ipynb
2021-03-25  오후 11:58            99,332 pop.ipynb
2021-03-24  오전 12:44           175,665 Population.csv
              11개 파일             672,836 바이트
               3개 디렉터리  70,968,377,344 바이트 남음

In [2]:
# pip list

In [3]:
import pandas as pd
import os, glob

In [4]:
path = 'C:/data/%s.xlsx' 
df_gdp = pd.read_excel(path %'GDP', header=4)
df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN

In [5]:
df_gdp.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

In [6]:
df_gdp.shape

(264, 64)

In [7]:
df_gdp.columns[5]

1961

이제 어떻게 할건지 알아야 한다, 
no, CountryName, gdp_year

In [8]:
df_gdp.columns

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                   1960,             1961,             1962,             1963,
                   1964,             1965,             1966,             1967,
                   1968,             1969,             1970,             1971,
                   1972,             1973,             1974,             1975,
                   1976,             1977,             1978,             1979,
                   1980,             1981,             1982,             1983,
                   1984,             1985,             1986,             1987,
                   1988,             1989,             1990,             1991,
                   1992,             1993,             1994,             1995,
                   1996,             1997,             1998,             1999,
                   2000,             2001,             2002,             2003,
                   2004,             2005,             2006,             2007,
                   2008,             2009,             2010,             2011,
                   2012,             2013,             2014,             2015,
                   2016,             2017,             2018,             2019],
      dtype='object')

In [9]:
# 사본 만들기
df_test = df_gdp

In [10]:
test = df_gdp.columns[1:4]
df_test= df_test.drop(test,axis=1)

In [11]:
df_test

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN
260,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN
262,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

In [12]:
df_test.iloc[:,:1]

     Country Name
0           Aruba
1     Afghanistan
2          Angola
3         Albania
4         Andorra
..            ...
259        Kosovo
260   Yemen, Rep.
261  South Africa
262        Zambia
263      Zimbabwe

[264 rows x 1 columns]

In [13]:
extract_col = df_test.iloc[:,:1]+df_test.iloc[:,1:].add_prefix('gdp_')

In [14]:
extract_col.columns

Index(['Country Name', 'gdp_1960', 'gdp_1961', 'gdp_1962', 'gdp_1963',
       'gdp_1964', 'gdp_1965', 'gdp_1966', 'gdp_1967', 'gdp_1968', 'gdp_1969',
       'gdp_1970', 'gdp_1971', 'gdp_1972', 'gdp_1973', 'gdp_1974', 'gdp_1975',
       'gdp_1976', 'gdp_1977', 'gdp_1978', 'gdp_1979', 'gdp_1980', 'gdp_1981',
       'gdp_1982', 'gdp_1983', 'gdp_1984', 'gdp_1985', 'gdp_1986', 'gdp_1987',
       'gdp_1988', 'gdp_1989', 'gdp_1990', 'gdp_1991', 'gdp_1992', 'gdp_1993',
       'gdp_1994', 'gdp_1995', 'gdp_1996', 'gdp_1997', 'gdp_1998', 'gdp_1999',
       'gdp_2000', 'gdp_2001', 'gdp_2002', 'gdp_2003', 'gdp_2004', 'gdp_2005',
       'gdp_2006', 'gdp_2007', 'gdp_2008', 'gdp_2009', 'gdp_2010', 'gdp_2011',
       'gdp_2012', 'gdp_2013', 'gdp_2014', 'gdp_2015', 'gdp_2016', 'gdp_2017',
       'gdp_2018', 'gdp_2019'],
      dtype='object')

In [15]:
df_test.columns=['Country Name', 'gdp_1960', 'gdp_1961', 'gdp_1962', 'gdp_1963',
       'gdp_1964', 'gdp_1965', 'gdp_1966', 'gdp_1967', 'gdp_1968', 'gdp_1969',
       'gdp_1970', 'gdp_1971', 'gdp_1972', 'gdp_1973', 'gdp_1974', 'gdp_1975',
       'gdp_1976', 'gdp_1977', 'gdp_1978', 'gdp_1979', 'gdp_1980', 'gdp_1981',
       'gdp_1982', 'gdp_1983', 'gdp_1984', 'gdp_1985', 'gdp_1986', 'gdp_1987',
       'gdp_1988', 'gdp_1989', 'gdp_1990', 'gdp_1991', 'gdp_1992', 'gdp_1993',
       'gdp_1994', 'gdp_1995', 'gdp_1996', 'gdp_1997', 'gdp_1998', 'gdp_1999',
       'gdp_2000', 'gdp_2001', 'gdp_2002', 'gdp_2003', 'gdp_2004', 'gdp_2005',
       'gdp_2006', 'gdp_2007', 'gdp_2008', 'gdp_2009', 'gdp_2010', 'gdp_2011',
       'gdp_2012', 'gdp_2013', 'gdp_2014', 'gdp_2015', 'gdp_2016', 'gdp_2017',
       'gdp_2018', 'gdp_2019']

In [16]:
df_test

,Country Name,gdp_1960,gdp_1961,gdp_1962,gdp_1963,gdp_1964,gdp_1965,gdp_1966,gdp_1967,gdp_1968,...,gdp_2010,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN
260,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN
262,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

In [17]:
df_test['no'] = 0

In [18]:
for i in range(0,265):
    df_test['no'][i] = i+1

print(df_test)

     Country Name      gdp_1960      gdp_1961      gdp_1962      gdp_1963  \
0           Aruba           NaN           NaN           NaN           NaN
1     Afghanistan  5.377778e+08  5.488889e+08  5.466667e+08  7.511112e+08
2          Angola           NaN           NaN           NaN           NaN
3         Albania           NaN           NaN           NaN           NaN
4         Andorra           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
259        Kosovo           NaN           NaN           NaN           NaN
260   Yemen, Rep.           NaN           NaN           NaN           NaN
261  South Africa  7.575397e+09  7.972997e+09  8.497997e+09  9.423396e+09
262        Zambia  7.130000e+08  6.962857e+08  6.931429e+08  7.187143e+08
263      Zimbabwe  1.052990e+09  1.096647e+09  1.117602e+09  1.159512e+09

         gdp_1964      gdp_1965      gdp_1966      gdp_1967      gdp_1968  \
0             NaN           NaN           NaN           NaN           NaN
1    8.000000e+08  1.006667e+09  1.400000e+09  1.673333e+09  1.373333e+09
2             NaN           NaN           NaN           NaN           NaN
3             NaN           NaN           NaN           NaN           NaN
4             NaN           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
259           NaN           NaN           NaN           NaN           NaN
260           NaN           NaN           NaN           NaN           NaN
261  1.037400e+10  1.133440e+10  1.235500e+10  1.377739e+10  1.489459e+10
262  8.394286e+08  1.082857e+09  1.264286e+09  1.368000e+09  1.605857e+09
263  1.217138e+09  1.311436e+09  1.281750e+09  1.397002e+09  1.479600e+09

     ...      gdp_2011      gdp_2012      gdp_2013      gdp_2014  \
0    ...  2.549721e+09  2.534637e+09  2.581564e+09  2.649721e+09
1    ...  1.780428e+10  2.000162e+10  2.056105e+10  2.048487e+10
2    ...  1.117897e+11  1.280529e+11  1.367099e+11  1.457122e+11
3    ...  1.289087e+10  1.231978e+10  1.277628e+10  1.322824e+10
4    ...  3.442063e+09  3.164615e+09  3.281585e+09  3.350736e+09
..   ...           ...           ...           ...           ...
259  ...  6.692431e+09  6.499760e+09  7.071982e+09  7.386883e+09
260  ...  3.272642e+10  3.540134e+10  4.041523e+10  4.322859e+10
261  ...  4.164189e+11  3.963327e+11  3.668294e+11  3.509046e+11
262  ...  2.346010e+10  2.550337e+10  2.804546e+10  2.715063e+10
263  ...  1.410192e+10  1.711485e+10  1.909102e+10  1.949552e+10

         gdp_2015      gdp_2016      gdp_2017      gdp_2018  gdp_2019   no
0    2.691620e+09  2.646927e+09  2.700559e+09           NaN       NaN    1
1    1.990711e+10  1.936264e+10  2.019176e+10  1.936297e+10       NaN    2
2    1.161936e+11  1.011239e+11  1.221238e+11  1.057510e+11       NaN    3
3    1.138693e+10  1.186135e+10  1.302506e+10  1.510250e+10       NaN    4
4    2.811489e+09  2.877312e+09  3.013387e+09  3.236544e+09       NaN    5
..            ...           ...           ...           ...       ...  ...
259  6.440068e+09  6.714727e+09  7.227700e+09  7.938991e+09       NaN  260
260  4.262833e+10  3.096824e+10  2.681870e+10  2.691440e+10       NaN  261
261  3.176205e+11  2.963573e+11  3.495541e+11  3.682889e+11       NaN  262
262  2.124335e+10  2.095475e+10  2.586814e+10  2.672007e+10       NaN  263
263  1.996312e+10  2.054868e+10  2.281301e+10  3.100052e+10       NaN  264

[264 rows x 62 columns]

<ipython-input-18-2d5035c893d2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['no'][i] = i+1

In [19]:
df_test

,Country Name,gdp_1960,gdp_1961,gdp_1962,gdp_1963,gdp_1964,gdp_1965,gdp_1966,gdp_1967,gdp_1968,...,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019,no
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,1
1,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,2
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,3
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN,4
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN,260
260,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN,261
261,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,1.489459e+10,...,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN,262
262,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN,263
263,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN,264

In [20]:
df_test=df_test[['no','Country Name', 'gdp_1960', 'gdp_1961', 'gdp_1962', 'gdp_1963',
       'gdp_1964', 'gdp_1965', 'gdp_1966', 'gdp_1967', 'gdp_1968', 'gdp_1969',
       'gdp_1970', 'gdp_1971', 'gdp_1972', 'gdp_1973', 'gdp_1974', 'gdp_1975',
       'gdp_1976', 'gdp_1977', 'gdp_1978', 'gdp_1979', 'gdp_1980', 'gdp_1981',
       'gdp_1982', 'gdp_1983', 'gdp_1984', 'gdp_1985', 'gdp_1986', 'gdp_1987',
       'gdp_1988', 'gdp_1989', 'gdp_1990', 'gdp_1991', 'gdp_1992', 'gdp_1993',
       'gdp_1994', 'gdp_1995', 'gdp_1996', 'gdp_1997', 'gdp_1998', 'gdp_1999',
       'gdp_2000', 'gdp_2001', 'gdp_2002', 'gdp_2003', 'gdp_2004', 'gdp_2005',
       'gdp_2006', 'gdp_2007', 'gdp_2008', 'gdp_2009', 'gdp_2010', 'gdp_2011',
       'gdp_2012', 'gdp_2013', 'gdp_2014', 'gdp_2015', 'gdp_2016', 'gdp_2017',
       'gdp_2018', 'gdp_2019']]

In [21]:
df_test

,no,Country Name,gdp_1960,gdp_1961,gdp_1962,gdp_1963,gdp_1964,gdp_1965,gdp_1966,gdp_1967,...,gdp_2010,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019
0,1,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN
1,2,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN
2,3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN
3,4,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN
4,5,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,260,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,NaN
260,261,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,NaN
261,262,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,NaN
262,263,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,NaN
263,264,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,NaN

In [22]:
# df_test.T

In [32]:
print(df_test.dtypes)

no                int64
Country Name     object
gdp_1960        float64
gdp_1961        float64
gdp_1962        float64
                 ...
gdp_2015        float64
gdp_2016        float64
gdp_2017        float64
gdp_2018        float64
gdp_2019        float64
Length: 62, dtype: object

In [24]:
# a = df_test.T

In [31]:
# print(a.dtypes)

NameError: name 'a' is not defined

In [26]:
# df_test=df_test.transpose()

In [24]:
# 'Country Name'라인 인덱스 추출
df_test.iloc[0,:]

no                        1
Country Name          Aruba
gdp_1960                NaN
gdp_1961                NaN
gdp_1962                NaN
                   ...
gdp_2015        2.69162e+09
gdp_2016        2.64693e+09
gdp_2017        2.70056e+09
gdp_2018                NaN
gdp_2019                NaN
Name: 0, Length: 62, dtype: object

In [25]:
df_test.info

<bound method DataFrame.info of       no  Country Name      gdp_1960      gdp_1961      gdp_1962  \
0      1         Aruba           NaN           NaN           NaN
1      2   Afghanistan  5.377778e+08  5.488889e+08  5.466667e+08
2      3        Angola           NaN           NaN           NaN
3      4       Albania           NaN           NaN           NaN
4      5       Andorra           NaN           NaN           NaN
..   ...           ...           ...           ...           ...
259  260        Kosovo           NaN           NaN           NaN
260  261   Yemen, Rep.           NaN           NaN           NaN
261  262  South Africa  7.575397e+09  7.972997e+09  8.497997e+09
262  263        Zambia  7.130000e+08  6.962857e+08  6.931429e+08
263  264      Zimbabwe  1.052990e+09  1.096647e+09  1.117602e+09

         gdp_1963      gdp_1964      gdp_1965      gdp_1966      gdp_1967  \
0             NaN           NaN           NaN           NaN           NaN
1    7.511112e+08  8.000000e+08  1.006667e+09  1.400000e+09  1.673333e+09
2             NaN           NaN           NaN           NaN           NaN
3             NaN           NaN           NaN           NaN           NaN
4             NaN           NaN           NaN           NaN           NaN
..            ...           ...           ...           ...           ...
259           NaN           NaN           NaN           NaN           NaN
260           NaN           NaN           NaN           NaN           NaN
261  9.423396e+09  1.037400e+10  1.133440e+10  1.235500e+10  1.377739e+10
262  7.187143e+08  8.394286e+08  1.082857e+09  1.264286e+09  1.368000e+09
263  1.159512e+09  1.217138e+09  1.311436e+09  1.281750e+09  1.397002e+09

     ...      gdp_2010      gdp_2011      gdp_2012      gdp_2013  \
0    ...  2.390503e+09  2.549721e+09  2.534637e+09  2.581564e+09
1    ...  1.585657e+10  1.780428e+10  2.000162e+10  2.056105e+10
2    ...  8.379950e+10  1.117897e+11  1.280529e+11  1.367099e+11
3    ...  1.192696e+10  1.289087e+10  1.231978e+10  1.277628e+10
4    ...  3.355695e+09  3.442063e+09  3.164615e+09  3.281585e+09
..   ...           ...           ...           ...           ...
259  ...  5.830416e+09  6.692431e+09  6.499760e+09  7.071982e+09
260  ...  3.090675e+10  3.272642e+10  3.540134e+10  4.041523e+10
261  ...  3.753494e+11  4.164189e+11  3.963327e+11  3.668294e+11
262  ...  2.026556e+10  2.346010e+10  2.550337e+10  2.804546e+10
263  ...  1.204166e+10  1.410192e+10  1.711485e+10  1.909102e+10

         gdp_2014      gdp_2015      gdp_2016      gdp_2017      gdp_2018  \
0    2.649721e+09  2.691620e+09  2.646927e+09  2.700559e+09           NaN
1    2.048487e+10  1.990711e+10  1.936264e+10  2.019176e+10  1.936297e+10
2    1.457122e+11  1.161936e+11  1.011239e+11  1.221238e+11  1.057510e+11
3    1.322824e+10  1.138693e+10  1.186135e+10  1.302506e+10  1.510250e+10
4    3.350736e+09  2.811489e+09  2.877312e+09  3.013387e+09  3.236544e+09
..            ...           ...           ...           ...           ...
259  7.386883e+09  6.440068e+09  6.714727e+09  7.227700e+09  7.938991e+09
260  4.322859e+10  4.262833e+10  3.096824e+10  2.681870e+10  2.691440e+10
261  3.509046e+11  3.176205e+11  2.963573e+11  3.495541e+11  3.682889e+11
262  2.715063e+10  2.124335e+10  2.095475e+10  2.586814e+10  2.672007e+10
263  1.949552e+10  1.996312e+10  2.054868e+10  2.281301e+10  3.100052e+10

     gdp_2019
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
..        ...
259       NaN
260       NaN
261       NaN
262       NaN
263       NaN

[264 rows x 62 columns]>

In [26]:
df_test = df_test.fillna(0)

In [27]:
df_test.info

<bound method DataFrame.info of       no  Country Name      gdp_1960      gdp_1961      gdp_1962  \
0      1         Aruba  0.000000e+00  0.000000e+00  0.000000e+00
1      2   Afghanistan  5.377778e+08  5.488889e+08  5.466667e+08
2      3        Angola  0.000000e+00  0.000000e+00  0.000000e+00
3      4       Albania  0.000000e+00  0.000000e+00  0.000000e+00
4      5       Andorra  0.000000e+00  0.000000e+00  0.000000e+00
..   ...           ...           ...           ...           ...
259  260        Kosovo  0.000000e+00  0.000000e+00  0.000000e+00
260  261   Yemen, Rep.  0.000000e+00  0.000000e+00  0.000000e+00
261  262  South Africa  7.575397e+09  7.972997e+09  8.497997e+09
262  263        Zambia  7.130000e+08  6.962857e+08  6.931429e+08
263  264      Zimbabwe  1.052990e+09  1.096647e+09  1.117602e+09

         gdp_1963      gdp_1964      gdp_1965      gdp_1966      gdp_1967  \
0    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
1    7.511112e+08  8.000000e+08  1.006667e+09  1.400000e+09  1.673333e+09
2    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
3    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
4    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
..            ...           ...           ...           ...           ...
259  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
260  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
261  9.423396e+09  1.037400e+10  1.133440e+10  1.235500e+10  1.377739e+10
262  7.187143e+08  8.394286e+08  1.082857e+09  1.264286e+09  1.368000e+09
263  1.159512e+09  1.217138e+09  1.311436e+09  1.281750e+09  1.397002e+09

     ...      gdp_2010      gdp_2011      gdp_2012      gdp_2013  \
0    ...  2.390503e+09  2.549721e+09  2.534637e+09  2.581564e+09
1    ...  1.585657e+10  1.780428e+10  2.000162e+10  2.056105e+10
2    ...  8.379950e+10  1.117897e+11  1.280529e+11  1.367099e+11
3    ...  1.192696e+10  1.289087e+10  1.231978e+10  1.277628e+10
4    ...  3.355695e+09  3.442063e+09  3.164615e+09  3.281585e+09
..   ...           ...           ...           ...           ...
259  ...  5.830416e+09  6.692431e+09  6.499760e+09  7.071982e+09
260  ...  3.090675e+10  3.272642e+10  3.540134e+10  4.041523e+10
261  ...  3.753494e+11  4.164189e+11  3.963327e+11  3.668294e+11
262  ...  2.026556e+10  2.346010e+10  2.550337e+10  2.804546e+10
263  ...  1.204166e+10  1.410192e+10  1.711485e+10  1.909102e+10

         gdp_2014      gdp_2015      gdp_2016      gdp_2017      gdp_2018  \
0    2.649721e+09  2.691620e+09  2.646927e+09  2.700559e+09  0.000000e+00
1    2.048487e+10  1.990711e+10  1.936264e+10  2.019176e+10  1.936297e+10
2    1.457122e+11  1.161936e+11  1.011239e+11  1.221238e+11  1.057510e+11
3    1.322824e+10  1.138693e+10  1.186135e+10  1.302506e+10  1.510250e+10
4    3.350736e+09  2.811489e+09  2.877312e+09  3.013387e+09  3.236544e+09
..            ...           ...           ...           ...           ...
259  7.386883e+09  6.440068e+09  6.714727e+09  7.227700e+09  7.938991e+09
260  4.322859e+10  4.262833e+10  3.096824e+10  2.681870e+10  2.691440e+10
261  3.509046e+11  3.176205e+11  2.963573e+11  3.495541e+11  3.682889e+11
262  2.715063e+10  2.124335e+10  2.095475e+10  2.586814e+10  2.672007e+10
263  1.949552e+10  1.996312e+10  2.054868e+10  2.281301e+10  3.100052e+10

     gdp_2019
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
..        ...
259       0.0
260       0.0
261       0.0
262       0.0
263       0.0

[264 rows x 62 columns]>

In [122]:
# data = [ i for i in a.iloc[0,:]]

In [28]:
# data

In [28]:
df_test

,no,Country Name,gdp_1960,gdp_1961,gdp_1962,gdp_1963,gdp_1964,gdp_1965,gdp_1966,gdp_1967,...,gdp_2010,gdp_2011,gdp_2012,gdp_2013,gdp_2014,gdp_2015,gdp_2016,gdp_2017,gdp_2018,gdp_2019
0,1,Aruba,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,0.000000e+00,0.0
1,2,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,0.0
2,3,Angola,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,0.0
3,4,Albania,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,0.0
4,5,Andorra,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,260,Kosovo,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,5.830416e+09,6.692431e+09,6.499760e+09,7.071982e+09,7.386883e+09,6.440068e+09,6.714727e+09,7.227700e+09,7.938991e+09,0.0
260,261,"Yemen, Rep.",0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.090675e+10,3.272642e+10,3.540134e+10,4.041523e+10,4.322859e+10,4.262833e+10,3.096824e+10,2.681870e+10,2.691440e+10,0.0
261,262,South Africa,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,1.235500e+10,1.377739e+10,...,3.753494e+11,4.164189e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.176205e+11,2.963573e+11,3.495541e+11,3.682889e+11,0.0
262,263,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,...,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.124335e+10,2.095475e+10,2.586814e+10,2.672007e+10,0.0
263,264,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,...,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.281301e+10,3.100052e+10,0.0

In [29]:
pathName = 'C:\data\%s' 
df_test.to_csv('C:/data/%s.csv'% f'gdp', index=None, header=None, mode='w', encoding='utf-8')

In [30]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no            264 non-null    int64
 1   Country Name  264 non-null    object
 2   gdp_1960      264 non-null    float64
 3   gdp_1961      264 non-null    float64
 4   gdp_1962      264 non-null    float64
 5   gdp_1963      264 non-null    float64
 6   gdp_1964      264 non-null    float64
 7   gdp_1965      264 non-null    float64
 8   gdp_1966      264 non-null    float64
 9   gdp_1967      264 non-null    float64
 10  gdp_1968      264 non-null    float64
 11  gdp_1969      264 non-null    float64
 12  gdp_1970      264 non-null    float64
 13  gdp_1971      264 non-null    float64
 14  gdp_1972      264 non-null    float64
 15  gdp_1973      264 non-null    float64
 16  gdp_1974      264 non-null    float64
 17  gdp_1975      264 non-null    float64
 18  gdp_1976      264 non-null    float64
 19  gdp_1977      264 non-null    float64
 20  gdp_1978      264 non-null    float64
 21  gdp_1979      264 non-null    float64
 22  gdp_1980      264 non-null    float64
 23  gdp_1981      264 non-null    float64
 24  gdp_1982      264 non-null    float64
 25  gdp_1983      264 non-null    float64
 26  gdp_1984      264 non-null    float64
 27  gdp_1985      264 non-null    float64
 28  gdp_1986      264 non-null    float64
 29  gdp_1987      264 non-null    float64
 30  gdp_1988      264 non-null    float64
 31  gdp_1989      264 non-null    float64
 32  gdp_1990      264 non-null    float64
 33  gdp_1991      264 non-null    float64
 34  gdp_1992      264 non-null    float64
 35  gdp_1993      264 non-null    float64
 36  gdp_1994      264 non-null    float64
 37  gdp_1995      264 non-null    float64
 38  gdp_1996      264 non-null    float64
 39  gdp_1997      264 non-null    float64
 40  gdp_1998      264 non-null    float64
 41  gdp_1999      264 non-null    float64
 42  gdp_2000      264 non-null    float64
 43  gdp_2001      264 non-null    float64
 44  gdp_2002      264 non-null    float64
 45  gdp_2003      264 non-null    float64
 46  gdp_2004      264 non-null    float64
 47  gdp_2005      264 non-null    float64
 48  gdp_2006      264 non-null    float64
 49  gdp_2007      264 non-null    float64
 50  gdp_2008      264 non-null    float64
 51  gdp_2009      264 non-null    float64
 52  gdp_2010      264 non-null    float64
 53  gdp_2011      264 non-null    float64
 54  gdp_2012      264 non-null    float64
 55  gdp_2013      264 non-null    float64
 56  gdp_2014      264 non-null    float64
 57  gdp_2015      264 non-null    float64
 58  gdp_2016      264 non-null    float64
 59  gdp_2017      264 non-null    float64
 60  gdp_2018      264 non-null    float64
 61  gdp_2019      264 non-null    float64
dtypes: float64(60), int64(1), object(1)
memory usage: 128.0+ KB

In [55]:
print(df_gdp.dtypes)

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
Length: 64, dtype: object

In [34]:
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   no            264 non-null    int64
 1   Country Name  264 non-null    object
 2   gdp_1960      264 non-null    float64
 3   gdp_1961      264 non-null    float64
 4   gdp_1962      264 non-null    float64
 5   gdp_1963      264 non-null    float64
 6   gdp_1964      264 non-null    float64
 7   gdp_1965      264 non-null    float64
 8   gdp_1966      264 non-null    float64
 9   gdp_1967      264 non-null    float64
 10  gdp_1968      264 non-null    float64
 11  gdp_1969      264 non-null    float64
 12  gdp_1970      264 non-null    float64
 13  gdp_1971      264 non-null    float64
 14  gdp_1972      264 non-null    float64
 15  gdp_1973      264 non-null    float64
 16  gdp_1974      264 non-null    float64
 17  gdp_1975      264 non-null    float64
 18  gdp_1976      264 non-null    float64
 19  gdp_1977      264 non-null    float64
 20  gdp_1978      264 non-null    float64
 21  gdp_1979      264 non-null    float64
 22  gdp_1980      264 non-null    float64
 23  gdp_1981      264 non-null    float64
 24  gdp_1982      264 non-null    float64
 25  gdp_1983      264 non-null    float64
 26  gdp_1984      264 non-null    float64
 27  gdp_1985      264 non-null    float64
 28  gdp_1986      264 non-null    float64
 29  gdp_1987      264 non-null    float64
 30  gdp_1988      264 non-null    float64
 31  gdp_1989      264 non-null    float64
 32  gdp_1990      264 non-null    float64
 33  gdp_1991      264 non-null    float64
 34  gdp_1992      264 non-null    float64
 35  gdp_1993      264 non-null    float64
 36  gdp_1994      264 non-null    float64
 37  gdp_1995      264 non-null    float64
 38  gdp_1996      264 non-null    float64
 39  gdp_1997      264 non-null    float64
 40  gdp_1998      264 non-null    float64
 41  gdp_1999      264 non-null    float64
 42  gdp_2000      264 non-null    float64
 43  gdp_2001      264 non-null    float64
 44  gdp_2002      264 non-null    float64
 45  gdp_2003      264 non-null    float64
 46  gdp_2004      264 non-null    float64
 47  gdp_2005      264 non-null    float64
 48  gdp_2006      264 non-null    float64
 49  gdp_2007      264 non-null    float64
 50  gdp_2008      264 non-null    float64
 51  gdp_2009      264 non-null    float64
 52  gdp_2010      264 non-null    float64
 53  gdp_2011      264 non-null    float64
 54  gdp_2012      264 non-null    float64
 55  gdp_2013      264 non-null    float64
 56  gdp_2014      264 non-null    float64
 57  gdp_2015      264 non-null    float64
 58  gdp_2016      264 non-null    float64
 59  gdp_2017      264 non-null    float64
 60  gdp_2018      264 non-null    float64
 61  gdp_2019      264 non-null    float64
dtypes: float64(60), int64(1), object(1)
memory usage: 128.0+ KB
None

In [ ]:
float64